* {
  box-sizing: border-box;
}

body {
  /*background-image: url("http://previews.123rf.com/images/teploleta/teploleta1507/teploleta150700047/42210009-Hand-drawn-black-and-white-scribbles-circles-pattern-Abstract-vector-background-Stock-Vector.jpg");*/
  /*background-image: url("http://previews.123rf.com/images/elenarolau/elenarolau1503/elenarolau150300018/37553690-Splash-vecteur-seamless-Main-noir-et-blanc-dessin-pulv-risation-texture-Taches-noires-sur-fond-blanc-Banque-d'images.jpg");*/
  background-image: url("http://www.moelmoel.com/i/2016/08/best-black-and-white-stripes-ideas-diagonal-shape-pattern-wallpaper-art-design-colors-combination-horizontal-big-interesting-fabulous-with-frames-scheme-astonishing-splendid-exquisite.png");
  background-size: cover;
  font-weight: 300;
  font-size: 20px;
  color: white;
  font-family: 'Pontano Sans', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 38px;
  font-family: 'Merriweather', serif;
}

h3 {
  font-weight: 900;
  font-size: 32px;
  font-family: 'Merriweather', serif;
}

.side {
  width: 400px;
  height: 100vh;
  overflow: scroll;
  float: left;
  padding: 20px;
  position: static, relative;
  display: inline;
}

.content {
  position: absolute;
  background-color: white;
  color: black;
  top: 20px;
  left: 20px;
  right: calc(100% - 380px);
  border: 2px black solid;
  margin: 10px;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 3px;
  display: inline-block;
}

.main {
padding: 20px;
height: 100vh;
overflow: scroll;
width: calc(100% - 400px);
float: left;
}

.link {
  padding: 4px 8px 4px 8px;
  margin: 8px 8px 8px 0px;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Pontano Sans', sans-serif;
  font-weight: 400;
}

.box {
  width: 96%;
  padding: 10px;
  border: 2px black solid;
  background: white;
  color: black;
  box-shadow: 10px 10px 5px #888888;
  text-align: left;
  margin: 10px 10px 30px 10px;
  border-radius: 3px;
  display: inline-block;
}

.box img {
  float: left;
  display: inline;
  margin-right: 20px;
  max-width: 100%;
}

.box .link {
  color: black;
  background-color: white;
  border: 1px solid black;
}

@media only screen and (max-width: 500px) {
  .side {
    width: 90%;
    float: left;
    color: black;
    padding: 20px;
    display: inline;
  }
}
