* {
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  background-size: cover;
  font-weight: 200;
  font-size: 18px;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Cutive', serif;
}

h3 {
  font-weight: bolder;
  font-size: 28px;
  font-family: 'Cutive', serif;
}

.side {
  width: 400px;
  height: 100vh;
  overflow: scroll;
  float: left;
  padding: 20px;
  position: static, relative;
  display: inline;
}

.content {
  position: absolute;
  background-color: black;
  color: white;
  top: 20px;
  left: 20px;
  right: calc(100% - 380px);
  border: 5px white solid;
  margin: 10px;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 3px;
  display: inline-block;
}

.main {
padding: 20px;
height: 100vh;
overflow: scroll;
width: calc(100% - 400px);
float: left;
}

.link {
  padding: 8px 8px 0px 8px;
  margin: 8px 8px 8px 0px;
  border: none;
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Cutive', serif;
}

.box {
  width: 96%;
  padding: 10px;
  border: 5px black solid;
  background: white;
  color: black;
  box-shadow: 10px 10px 5px #888888;
  text-align: left;
  margin: 10px 10px 30px 10px;
  border-radius: 3px;
  display: inline-block;
}

.box img {
  float: left;
  display: inline;
  margin-right: 20px;
  max-width: 100%;
}

.box .link {
  color: white;
  background-color: black;
}

@media only screen and (max-width: 500px) {
  .side {
    width: 90%;
    float: left;
    color: black;
    padding: 20px;
    display: inline;
  }
}
